@charset "utf-8";
@import "bootstrap.min.css";
@import "normalize";
@import 'https://fonts.googleapis.com/css?family=Arimo:400,700|Engagement|Henny+Penny';

// Transform
  @mixin transform($transforms) {
       -moz-transform: $transforms;
         -o-transform: $transforms;
        -ms-transform: $transforms;
    -webkit-transform: $transforms;
            transform: $transforms;
  }

// Transitions
  @mixin transition($time: 350ms, $type:all, $style:cubic-bezier(.14, .62, .39, 1), $delay:0s) {
    -webkit-transition: $type $time $style $delay;
    -moz-transition: $type $time $style $delay;
    -o-transition: $type $time $style $delay;
    transition: $type $time $style $delay;
  }

// Rotate
  @mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
  }

// Scale
  @mixin scale($scale) {
     @include transform(scale($scale));
  } 

// Translate
  @mixin translate ($x, $y) {
    @include transform(translate($x, $y));
  }

// Skew
  @mixin skew ($x, $y) {
     @include transform(skew(#{$x}deg, #{$y}deg));
  }

@mixin vertical-center($y:-50%) {
  top: 50%;
  position: absolute;
  @include translate(0,$y);
}

@mixin absolute-center($x:-50%,$y:-50%) {
    left: 50%;
    position: absolute;
    top: 50%;
    @include translate($x,$y);
  }
@mixin horizontal-center($x:-50%) {
    left: 50%;
    position: absolute;
    @include translate($x,0);
  }

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

$font-cursive: 'Engagement', cursive;
$font-cursive-3: 'Henny Penny', cursive;
$font-sanserif: 'Arimo', sans-serif;
$font-serif: 'Playfair Display', serif;

$color-red: #FF5356;

$mq-small: 480px;
$mq-medium: 768px;
$mq-large: 1024px;
$mq-xlarge: 1200px;
$mq-xxlarge: 1440px;

body {
  font-feature-settings: "kern" 1, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "dlig" 1;
  overflow-x: hidden;
  margin: 10px;
  @include transition;
    background: #090101;
  &.page-about {
    background: #090101;
  }
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-sanserif;
  font-weight: 700;
}

.btn-close-page {
  color: #090101;
  cursor: pointer;
  font-family: $font-serif;
  font-size: 4em;
  line-height: 1;
  position: fixed;
  top: 20px;
  @media (min-width: $mq-large) {
    font-size: 8em;
  }
}

.site-header {
  text-align: center;
  top: 0;
  width: 100%;
  height: 60px;
  @include transition($delay: 400ms);
  &.scrolled {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100000;
    @include transition($delay: 0ms);
    .site-nav {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100000;
      a {
        font-size: 1.5em;
      }
    }
    .logo {
      @include absolute-center($y:-50%);
      font-size: 3em;
      width: 50%;
      @media (min-width: $mq-large) {
        font-size: 5em;
      }
    }
    .emblem {
      font-size: 3em;
      top: -10px;
    }
    .site-nav-left {
      @media (max-width: $mq-large) {
        left: 20px;
        top: 15px;
        height: 40px;
        width: 40px;
        @include translate(0,0);
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -9999px;
          overflow: hidden;
          position: relative;
          &:before {
            content: "\f06e";
            height: 100%;
            width: 100%;
            font-family: "FontAwesome";
            position: absolute;
            top: 0;
            left: 0;
            text-indent: 0;
            line-height: 2;
          }
        }
      }
    }
    .site-nav-right {
      @media (max-width: $mq-large) {
        left: auto;
        right: 20px;
        top: 15px;
        height: 40px;
        width: 40px;
        @include translate(0,0);
        a {
          display: block;
          width: 100%;
          height: 100%;
          text-indent: -9999px;
          overflow: hidden;
          position: relative;
          &:before {
            content: "\f095";
            height: 100%;
            width: 100%;
            font-family: "FontAwesome";
            position: absolute;
            top: 0;
            left: 0;
            text-indent: 0;
            line-height: 2;
          }
        }
      }
    }
  }
}

.logo {
  color: $color-red;
  font-family: $font-cursive;
  font-size: 6em;
  line-height: 1;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 100;
  @include absolute-center;
  @media (min-width: $mq-small) {
    font-size: 8em;
    width: 80%;
  }
  @media (min-width: $mq-medium) {
    font-size: 10em;
  }
  @media (min-width: $mq-large) {
    font-size: 12em;
    @include absolute-center($y:-60%);
  }
  @media (min-width: $mq-xlarge) {
    font-size: 18em;
  }
}
.emblem {
  bottom: 5%;
  color: #FF5356;
  font-family: $font-cursive;
  font-size: 5em;
  line-height: 1;
  margin: 0 auto;
  position: absolute;
  width: auto;
  z-index: 100;
  @include horizontal-center;
  @include transition;
  @media (min-width: $mq-small) {
    font-size: 7em;
  }
  @media (min-width: $mq-medium) {
    font-size: 10em;
  }
  @media (min-width: $mq-large) {
    font-size: 12em;
  }
}
.site-section {
  padding: 20px 0;
  position: relative;
  @media (min-width: $mq-small) {
    padding: 8.5% 40px;
  }
  @media (min-width: $mq-large) {
    padding: 19.5% 40px;
    min-height: 95vh;
  }
  @media (min-width: $mq-xlarge) {
    padding: 3% 40px;
  }
  &:nth-child(even){
    background: #eee;
  }
  &:nth-child(odd){
    background: #FFE065;
  }
  &.site-hero, &.site-oneshot {
    min-height: 95vh;
    position: relative;
  }
  &.site-oneshot {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
    @media (max-width: $mq-large) {
      background-attachment: scroll;
    }
  }
  &.site-hero {
    background: rgba(255, 178, 180, 1);
    z-index: 100000;
  }
  &.site-content {
    background: transparent;
    font-family: $font-sanserif;
  }
}

.site-hero-video {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  @media (max-width: $mq-large) {
    background: url('/images/jess-flips-4.gif') no-repeat center top;
    background-size: cover;
  }
  video {
    min-width: 100%; 
    min-height: 100%; 
    @include absolute-center;
    // mix-blend-mode: overlay;
    opacity: 0.7;
    z-index: -1000;
    width: auto;
    height: auto;
    @media (max-width: $mq-large) {
      display: none;
    }
  }
}

.site-page {
  opacity: 1;
  position: relative;
  z-index: 100;
  @include transition;
}
.site-about {
  @include translate(-100%,0);
  @include transition;
}
.site-about-header {
  color: $color-red;
  font-family: $font-cursive;
  font-size: 4em;
  line-height: 1;
  @media (max-width: $mq-large) {
    span {
      display: block;
    }
  }
}
.site-contact {
  @include translate(100%,0);
  @include transition;
  .site-content-inner {
    padding: 0 0 0 60px;
    @media (min-width: $mq-large) {
      padding: 0 0 0 120px;
    }
  } 
}
.page-about {
  overflow: hidden;
  .site-about {
    @include translate(0,0);
  }
  .site-home {
    @include translate(30%,0);
    opacity: 0.4;
  }
}
.page-contact {
  overflow: hidden;
  .site-contact {
    @include translate(0,0);
  }
  .site-home {
    @include translate(-30%,0);
    opacity: 0.4;
  }
}

.site-page-sub {
  background: #FFC8C9;
  box-shadow: 0 0 80px rgba(0,0,0,0.2);
  height: 100%;
  width: 90vw;
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  @media (min-width: $mq-large) {
    width: 80vw;
  }
  
  &.site-about {
    left: 0;
    right: auto;
    .btn-close-page {
      right: 20px;
    }
  }
  &.site-contact {
    right: 0;
    left: auto;
    .btn-close-page {
      left: auto;
    }
  }
}
.site-nav-list {
  @include flexbox();
  margin: 0 auto;
  width: 100%;
}
.site-nav-item {
  @include absolute-center;
  position: absolute;
  text-align: center;
  width: 300px;
  @media (min-width: $mq-large) {
    @include vertical-center;
  }
}
.site-nav-left {
  top: 33%;
  @media (min-width: $mq-large) {
    left: 20px;
    text-align: left;
    top: 50%;
  }
}
.site-nav-right {
  top: 70%;
  @media (min-width: $mq-large) {
    left: auto;
    right: 20px;
    text-align: right;
    top: 50%;
    width: 210px;
  }
}
.site-nav-link {
  color: #FFABAC;
  font-family: $font-cursive-3;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  text-transform: lowercase;
  @media (min-width: $mq-large) {
    font-size: 2.0em;
  }
  &:hover {
    color: #FF5356;
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}

.gallery-container {
  @include flexbox();
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  @media (min-width: $mq-large) {
    flex-wrap: nowrap;
  }
}
.gallery-entry {
  margin: 0 0 20px 0;
  overflow: hidden;
  text-align: center;
  position: relative;
  width: 100%;
  @include flex(2 1 auto);
  &:last-child {
    margin: 0;
  }
  @media (min-width: $mq-medium) {
    width: auto;
    margin: 0 0 20px;
  }
  @media (min-width: $mq-large) {
    width: auto;
    margin: 0 20px;
  }
}
.gallery-photo {
  background: #ccc;
  height: auto;
  width: 100%;
  &.float-left {
    float: left;
  }
  &.float-right {
    float: right;
  }
  @media (min-width: $mq-medium) {
    height: auto;
    width: 100%;
  }
  @media (min-width: $mq-large) {
    height: 400px;
    width: auto;
  }
  @media (min-width: $mq-xlarge) {
    height: 700px;
    width: auto;
  }
}

.client-list {
  @include flexbox();
  flex-wrap: wrap;
  justify-content: flex-start;
}
.client-list-item {
  @include flex(0 4 auto);
  margin: 0 20px 20px 0;
  position: relative;
}
.client-list-photo {
  background: red;
  height: 160px;
  width: 260px;
  display: block;
  position: relative;
  @media (min-width: $mq-medium) {
    height: 200px;
    width: 300px;
  }
  img {
    width: 100%;
  }
}
.client-list-text {
  background: rgba(10,10,10,0.5);
  color: #fff;
  padding: 10px;
  position: absolute;
  left: 0;
  right: -10px;
  bottom: 20px;
  @media (min-width: $mq-medium) {
    left: auto;
    width: 260px;
  }
}
.client-list-desc {
  font-size: 0.8em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contact-list {
  margin: 60px 0 0 0;
  @include flexbox();
  flex-wrap: wrap;
  @media (min-width: $mq-large) {
    flex-wrap: nowrap;
  }
}
.contact-entry {
  background: #eee;
  border-radius: 2px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.0);
  @include transition;
  @include scale(1);
  @media (min-width: $mq-large) {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
  }
  &:hover {
    @include scale(1.1);
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    .contact-entry-icon {
      @include scale(1.05);
      i {
        text-shadow: 0 1px 10px rgba(0,0,0,0.2);
      }
    }
  }
}
.contact-entry-icon {
  color: rgba(255,255,255,0.9);
  font-size: 7em;
  line-height: 1;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  @include transition;
  @include scale(1);
  i {
    text-shadow: 0 1px 3px rgba(0,0,0,0.0);
  }
}
.contact-entry-title {
  background: rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.9);
  font-family: $font-sanserif;
  font-size: 1.3em;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-transform: lowercase;
  width: 100%;
}
.contact-entry-link {
  display: block;
  height: 100%;
  width: 100%;
  &:hover {
    text-decoration: none;
  }
}
.contact-instagram {
  background-color: #c13584;
  &:hover {
    background-color: #e1306c;
  }
}
.contact-youtube {
  background-color: #cd201f;
  &:hover {
    background-color: lighten(#e1306c,3%);
  }
}
.contact-email {
  background-color: #2980b9;
  &:hover {
    background-color: lighten(#2980b9,3%);
  }
}