doctype html
html
  head
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
    meta content="#ffffff" name="msapplication-TileColor" /
    meta content="/ms-icon-144x144.png" name="msapplication-TileImage" /
    meta content="#ffffff" name="theme-color" /

    link href="/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" /
    link href="/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" /
    link href="/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /
    link href="/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" /
    link href="/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" /
    link href="/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" /
    link href="/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" /
    link href="/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" /
    link href="/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /
    link href="/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png" /
    link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
    link href="/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" /
    link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
    link href="/manifest.json" rel="manifest" /

    title = current_page.data.title || "The Middleman"

    == stylesheet_link_tag :site

    script src="https://use.fontawesome.com/1141e365c8.js"

  body class="#{page_classes}"
    == yield

    // Javascripts

    == javascript_include_tag "jquery.min", "jquery.waypoints.min", "all"
    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82398405-1', 'auto');
      ga('send', 'pageview');

