---
title: jessicavessica:::singer:::musician:::dancer:::actress
---

#page_about.site-page-sub.site-about
  section.site-section.site-content
    .container-fluid
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          #close_about.btn-close.btn-close-page
            | &times;
          .site-content-inner
            h2.site-about-header
              span singer:::
              span musician:::
              span dancer:::
              span actress
            h3
              | on tv:::
            ul.client-list
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=w3CYeUMZpMg"
                  img src="images/work-matchmaker.jpg" alt="Millionaire Matchmaker"
                  .client-list-text
                    h4.client-list-title
                      | Millionaire Matchmaker (Bravo channel)
                    .client-list-desc
                      | Winner
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=Tff2oE31Mlw"
                  img src="images/work-lovemore.jpg" alt="Love More"
                  .client-list-text
                    h4.client-list-title
                      | Chris Brown ft. Nikki Minaj “Love More”
                    .client-list-desc
                      | Actress/Dancer
              li.client-list-item
                a.client-list-photo href="https://vimeo.com/64051564"
                  img src="images/work-yuck.jpg" alt="Yuck"
                  .client-list-text
                    h4.client-list-title
                      | 2 Chainz ft. Lil' Wayne “Yuck”
                    .client-list-desc
                      | Actress
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=9DS7zGbbMho"
                  img src="images/work-snoop.jpg" alt="Snoop Dogg GGN Webisode"
                  .client-list-text
                    h4.client-list-title
                      | Snoop Dogg’s GGN Webisode
                    .client-list-desc
                      | Weather Girl
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=jiiFzKfuPMk"
                  img src="images/work-eddiemurphy.jpg" alt="Redlight"
                  .client-list-text
                    h4.client-list-title
                      | Eddie Murphy ft Snoop Dogg “Redlight”
                    .client-list-desc
                      | Actress
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=OWkISPRtitI"
                  img src="images/work-bone.jpg" alt="Everything 100"
                  .client-list-text
                    h4.client-list-title
                      | Bone Thugs ‘n Harmony “Everything 100”
                    .client-list-desc
                      | Actress/Dancer
              li.client-list-item
                a.client-list-photo href="https://www.youtube.com/watch?v=LwU6Ve3u2-E"
                  img src="images/work-tyga.jpg" alt="Throw It Up"
                  .client-list-text
                    h4.client-list-title
                      | Tyga “Throw It Up”
                    .client-list-desc
                      | Actress
              li.client-list-item
                a.client-list-photo href="https://itunes.apple.com/us/podcast/baggage-minisodes-jessica/id465452831?i=1000097262083&mt=2"
                  img src="images/work-baggage.jpg" alt="Baggage"
                  .client-list-text
                    h4.client-list-title
                      | Baggage hosted by Jerry Springer (Episode 129)
                    .client-list-desc
                      | GSN Network
            h3
              | in the news:::
            ul.client-list
              li.client-list-item
                a.client-list-photo href="http://www.rollingstone.com/music/pictures/behind-the-scenes-of-tygas-throw-it-up-video-20131101/pretty-young-thing-0635131"
                  img src="images/work-rollingstone.jpg" alt="Rollingstone"
                  .client-list-text
                    h4.client-list-title
                      | Behind the Scenes of Tyga's 'Throw It Up' Video
                    .client-list-desc
                      | Rollingstone
              li.client-list-item
                a.client-list-photo href="http://www.bravotv.com/the-millionaire-matchmaker/season-6/blogs/rachel-federoff/hip-hop-teddy-bear-gets-it-right"
                  img src="images/work-bravotv.jpg" alt="Bravo TV"
                  .client-list-text
                    h4.client-list-title
                      | Hip-Hop Teddy Bear Gets It Right
                    .client-list-desc
                      | Bravo TV
              / li.client-list-item
              /   .client-list-photo
              /     img src="images/work-reggaefest.jpg" alt="Photo"
              /     .client-list-text
              /       h4.client-list-title
              /         | Miami ‘Reggaefest’ Festival
              /       .client-list-desc
              /         | Co-Host
#page_contact.site-page-sub.site-contact
  section.site-section.site-content
    .container-fluid
      .row
        .col-xs-12.col-md-8
          #close_contact.btn-close.btn-close-page
            | &times;
          .site-content-inner
            h2.site-about-header
              span singer:::
              span musician:::
              span dancer:::
              span actress
            h3
              | follow &amp; subscribe
            ul.contact-list
              li.contact-entry.contact-instagram
                a.contact-entry-link href="http://www.instagram.com/jessicavessica" 
                  .contact-entry-icon
                    i class="fa fa-instagram" aria-hidden="true"
                  .contact-entry-title
                    | follow me on instagram
              li.contact-entry.contact-youtube
                a.contact-entry-link href="https://www.youtube.com/channel/UCxm1l-kN742UG2fxpIMOlxA" 
                  .contact-entry-icon
                    i class="fa fa-youtube" aria-hidden="true"
                  .contact-entry-title
                    | subscribe to my channel
              li.contact-entry.contact-email
                a.contact-entry-link href="mailto:jessica@jessicavessica.com" 
                  .contact-entry-icon
                    i class="fa fa-envelope" aria-hidden="true"
                  .contact-entry-title
                    | for additional inquiries
#page_main.site-page.site-home
  section.site-section.site-hero
    .site-hero-video
      video#hero-video autoplay="autoplay" loop="loop" preload="auto"
        source src="images/jessicavessica-hero-loop-web.mp4" type="video/mp4"

    .container-fluid
      header.site-header
        .logo
          | jessicavessica
        .emblem
          | :::
        nav.site-nav
          ul.site-nav-list
            li.site-nav-item.site-nav-left
              a.site-nav-link href="#page_about" Look Closer
            li.site-nav-item.site-nav-right
              a.site-nav-link href="#page_contact" Shall we connect?
  section.site-section.site-oneshot style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/yass.jpg')"
      
  section.site-section.site-gallery
    .container-fluid
      .row
        .col-xs-12
          ul.gallery-container
            li.gallery-entry
              == image_tag "images/photo-money-1.jpg", alt: "Jessica Vessica", class: "gallery-photo"
            li.gallery-entry
              == image_tag "images/photo-yass.jpg", alt: "Jessica Vessica", class: "gallery-photo float-right"
            li.gallery-entry
              == image_tag "images/photo-hellov-1.jpg", alt: "Jessica Vessica", class: "gallery-photo"   
  section.site-section.site-gallery
    .container-fluid
      .row
        .col-xs-12
          ul.gallery-container
            li.gallery-entry
              == image_tag "images/photo-flower.jpg", alt: "Jessica Vessica", class: "gallery-photo"
            li.gallery-entry
              == image_tag "images/photo-pallas.jpg", alt: "Jessica Vessica", class: "gallery-photo float-right"
              
  section.site-section.site-gallery
    .container-fluid
      .row
        .col-xs-12
          ul.gallery-container
            li.gallery-entry
              == image_tag "images/photo-yes.jpg", alt: "Jessica Vessica", class: "gallery-photo"
            li.gallery-entry
              == image_tag "images/photo-lookup.jpg", alt: "Jessica Vessica", class: "gallery-photo"
            li.gallery-entry
              == image_tag "images/photo-skatepark.jpg", alt: "Jessica Vessica", class: "gallery-photo"
              
  section.site-section.site-gallery
    .container-fluid
      .row
        .col-xs-12
          ul.gallery-container
            li.gallery-entry
              == image_tag "images/photo-realsmile.jpg", alt: "Jessica Vessica", class: "gallery-photo"
            li.gallery-entry
              == image_tag "images/photo-sun.jpg", alt: "Jessica Vessica", class: "gallery-photo"